.wrapper-cash-process {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 115px;

  h1 {
    margin-bottom: 90px;
    width: 900px;
    height: 54px;
    font-size: 45px;
    font-weight: bold;
  }

  .wrapper-img-cash-process{
    padding-top: 40px;
  }

  .wrapper-button {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -260px;
  }

  .wrapper-toggle {
    margin: 0 auto;
    width: 450px;

    h4 {
      font-weight: 500;
      margin-top: 61.5px;
      margin-bottom: 0;
    }

    .wrapper-sum {
      padding-top: 10px;

      h4 {
        margin-top: 30px;
        height: 36px;
        font-size: 30px;
        letter-spacing: 0.41px;
        color: #c1c1c1;
        @media screen and (max-width:1900px) {
          margin-top: 0;
          font-size: 24px;
        }

        &:first-of-type {
          text-align: left;
        }
      }
    }

    h4 {
      height: 48px;
      font-size: 40px;
      letter-spacing: 0.55px;
      color: #4a4a4a;
      @media screen and (max-width:1900px) {
        font-size: 32px;
        width: auto;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }

}

@media screen and (max-width:1900px) {
  .wrapper-cash-process {
    padding-top: 32px;

    h1 {
      font-size: 32px;
      margin-bottom: 48px;
      height: auto;
    }
  }
}
