.scan {
  height: 956px;
  opacity: 0.57;
  -webkit-backdrop-filter: blur(13.7px);
  backdrop-filter: blur(13.7px);
  background-color: #bdbdbd;
  padding-top: 204px;
  position: relative;

  .qr {
    margin: 0 auto;
    width: 502px;
    height: 502px;
    opacity: 0.57;
    -webkit-backdrop-filter: blur(13.7px);
    backdrop-filter: blur(13.7px);
    background-color: #ffffff;
  }
  .square{
    position: absolute;
    top: 204px;
    left: 50%;
    margin-left: -251px;
    width: 502px;
    height: 502px;

    img{
      width: 90px;
      height: 90px;
      position: absolute;
    }

    .tl {
      top: 0;
      left: 0;
    }
    .tr {
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }

    .bl {
      bottom: 0;
      left: 0;
      transform: rotate(-90deg);
    }
    .br {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }

  }
}
@media screen and (max-width:1900px) {
  .scan {
    padding-top: 120px;

    .square {
      top: 120px;
    }
  }
}
